/* All class start*/
* {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;
  z-index: 100;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-weight: 100;
  font-family: 'Bitter', serif;
  font-family: 'Raleway', sans-serif;
}

/* All class end*/

/* ScreenSaved start */
#IBall {
  position: absolute;
  width: 200px;
  height: 200px;
  display: none;
}

.screenSaved {
  opacity: 0.6;
  transition: 0.5s;
}

/* ScreenSaved  end */

/* Header class start*/
.header__white {
  box-shadow: 0px 2px 7px rgba(26, 25, 25, 0.74);
  margin-top: -20px;
  padding-top: 50px;
  border-radius: 15px;
  text-align: center;
  min-width: max-content;
  background-color: #efefef;
}

.header__grey {
  box-shadow: 0px 2px 7px rgba(26, 25, 25, 0.74);
  margin-top: -20px;
  padding-top: 20px;
  border-radius: 15px;
  text-align: center;
  min-width: max-content;
  background-color: gray;
}

.header_wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header__menu__grey {
  height: 50px;
  background-color: gray;
}

.header__black {
  background-color: #444;
  height: min-content;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  margin-bottom: 40px;
  box-shadow: 0px 2px 7px #efefef;
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 25px;
  font-weight: 100;
  text-shadow: 1px 3px 4px #fff;
  padding: 15px 0px;
  margin-bottom: 30px;
}

/* Header class end*/


/* Section main class start*/
.main {
  width: 100%;
  height: 80%;
  text-align: center;
  transform: translateY(-30px);
  border-radius: 15px;
  box-shadow: 0px 2px 7px rgba(26, 25, 25, 0.74);
}

.wrapper__grey {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 5px rgb(238, 238, 238);
  height: 800px;
  border-radius: 30px;
  background-image: url(./backgroundImg/default.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.piano {
  margin-top: 30px;
}

.piano-same {
  transform: translateY(-35px);
}

#song {
  background-color: #fff;
  box-shadow: 1px 3px 7px rgb(211, 204, 204);
  width: 900px;
  height: 260px;
  border-radius: 25px;
  padding: 15px 10px;
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  left: 13%;
  transform: translateY(-35px);
  position: relative;
  opacity: 0;
  border: 5px solid #333;
  transition: 1.5s all ease-in-out;
  cursor: pointer;
}

.nodePlayList {
  text-align: center;
  font-size: 30px;
  line-height: 1;
  color: #efefef;
  text-shadow: 1px 1px 5px #222;
  transition: all 1s ease;
  min-height: 30px;
}

.keys {
  display: block;
  width: 100%;
  height: 280px;
  max-width: 700px;
  position: relative;
  margin: 10px auto 0;
}

.key {
  position: relative;
  border: 2px solid black;
  border-radius: .5rem;
  transition: all .07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
}

.key:not(.sharp) {
  float: left;
  width: 10%;
  height: 100%;
  background: #fff;
}

.key.sharp {
  position: absolute;
  width: 6%;
  height: 60%;
  background: #000;
  color: #eaee;
  top: 0;
  z-index: 3;
  text-align: center;
}

#key65 {
  transition-delay: 10ms;
}

#key87 {
  transition-delay: 10ms;
  left: 49px;
}

#key83 {
  transition-delay: 10ms;
}

#key69 {
  transition-delay: 10ms;
  left: 119px;
}

#key68 {
  transition-delay: 10ms;
}

#key70 {
  transition-delay: 10ms;
}

#key71 {
  transition-delay: 10ms;
}

#key72 {
  transition-delay: 10ms;
}

#key75 {
  transition-delay: 10ms;
}

#key76 {
  transition-delay: 10ms;
}

#key84 {
  transition-delay: 10ms;
  left: 259px;
}

#key74 {
  transition-delay: 10ms;
}

#key89 {
  transition-delay: 10ms;
  left: 329px;
}

#key85 {
  transition-delay: 10ms;
  left: 399px;
}

#key79 {
  transition-delay: 10ms;
  left: 539px;
}

#key80 {
  transition-delay: 10ms;
  left: 609px;
}

#key186 {
  transition-delay: 10ms;
}

.playing {
  transform: scale(.95);
  border-color: rgb(0, 0, 0);
  box-shadow: 0 0 1rem #000;
}

.designation {
  pointer-events: none;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  text-align: center;
}

/* Section main class end*/


/* Footer style start  */
footer {
  min-height: 150px;
  min-width: max-content;
  background-color: #efefef;
  box-shadow: 1px 2px 7px rgba(26, 25, 25, 0.74);
  margin-top: 30px;
  border-radius: 25px;
}

.footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__img {
  height: 40px;
  width: 40px;
  display: block;
}

.footer__title-same {
  font-size: 25px;
  font-weight: 100;
  text-shadow: 1px 3px 2px #333;
  text-align: center;
  color: #efefef;
  background-color: transparent;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
  margin-top: -35px;
}

.footer__p {
  font-size: 20px;
  font-weight: 500;
  color: #0c0c0c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.74);
}

.footer__card1 {
  grid-column: 1/2;
}

.footer__card2 {
  grid-column: 2/3;
}

.footer__web {
  margin-left: 418px;
  display: flex;
  align-items: center;
}

.footer__img {
  width: 50px;
  transition: 0.5s;
  margin: 5px;
}

.footer__img:hover {
  transform: scale(1.1);
}

.footer__img-last {
  margin-right: 5px;
  margin-left: 5px;
  width: 50px;
  height: 40px;
  margin-top: 4px;
  transition: 0.5s;
}

.footer__img-last:hover {
  transform: scale(1.1);
}

.footer__button-text {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__button-text-same {
  background-color: #fff;
  text-align: center;
  border-radius: 25px;
  text-align: center;
  color: #333;
  height: 20px;
  font-weight: 600;
}

/* Email class start */
#mail {
  text-decoration: none;
  color: #000;
  transition: 0.5s ease-in-out;
}

#mail:hover {
  color: #efefef;
}

/* Email class stop */
/* footer style end */


/* Items background & volume class start */
.volume_show {
  text-shadow: 1px 3px 7px #efefef;
  margin-right: 5px;
  color: #fff;
  font-size: 20px;
}

.volume_show1 {
  text-shadow: 1px 3px 7px #efefef;
  margin-right: 5px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.volume {
  text-align: left;
  padding: 20px;
  display: flex;
  align-items: center;
  border: 0px;
}

#volume {
  border-radius: 15px;
  box-shadow: 0px 4px 17px #efefef;
  background-color: rgb(40, 40, 77);
  color: #efefef;
  -webkit-appearance: none;
  width: 120px;
  cursor: pointer;
}

.bgchoice {
  text-align: right;
  border-radius: 15px;
  box-shadow: 0px 4px 17px #efefef;
  background-color: rgb(40, 40, 77);
  color: #efefef;
  width: 80px;
  cursor: pointer;
}

.itemsMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  transform: translateY(25px);
  max-height: 40px;
}

.P_background {
  text-shadow: 1px 3px 7px #efefef;
  margin-right: 5px;
  color: #fff;
  font-size: 20px;
  padding-left: 20px;
}

.P_background1 {
  text-shadow: 1px 3px 7px #efefef;
  margin-right: 5px;
  color: #000;
  font-size: 20px;
  padding-left: 20px;
  font-weight: 600;
}

.bgItem {
  display: flex;
  align-items: center;
  text-align: right;
}

/* Items background & volume class end */

/* SongArr format style start */
#changeSong {
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 25px;
  border: 0px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  top: -1 0px;
  text-align: center;
  box-shadow: 1px 3px 7px rgb(211, 204, 204);
  position: relative;
  transition: 1.5s all ease-in-out;
  cursor: pointer;
}

.video_start {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: block;
  top: 0;
  left: 0;
  margin-top: 0px;
}

.header_index {
  position: relative;
  width: 100%;
  min-height: 1080px;
  overflow: hidden;
  margin-top: -20px;
}

/* SongArr format style end */

/* Button for main style strart  */

.button {
  transform: translateY(45px);
}

.buttons,
.song-link {
  margin-bottom: 2rem;
  display: flex;
}

.btn {
  --hue: 100;
  --saturation: 100%;
  padding: .5rem 1rem;
  border: none;
  background-color: hsl(var(--hue), var(--saturation), 50%);
  font-size: 1.5rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btn:first-child {
  margin-left: 0;
}

.record-button {
  background-color: transparent;
  border-radius: 25px;
  transition: 1s;
  margin-right: 10px;
  border: 1px solid #fff;
  color: #efefef;
}

.record-button1 {
  background-color: #181818c2;
  border-radius: 25px;
  transition: 1s;
  margin-right: 10px;
  border: 1px solid #fff;
  color: #efefef;
}

.record-button.active {
  --saturation: 100%;
  color: red;
}

.record-button.active1 {
  --saturation: 100%;
  color: #000;
}

.btn:hover {
  background-color: transparent;
  transform: scale(1.1);
  box-shadow: 0px 2px 7px rgba(185, 176, 176, 0.74);
}

#index {
  padding: 0.6rem 1.5rem;  
  border-radius: 25px;
  border: 1px solid #fff;
  color: #efefef;
  background-color: transparent;
  font-size: 1.6rem;
  left: 45%;
  top: 15%;
  z-index: 1000;
  position: absolute;
  transition: all ease-in-out 1s;
  text-decoration: none;
  opacity: 0.7;
}

#index:hover {
  background-color: transparent;
  transform: scale(1.1);
  box-shadow: 0px 2px 7px rgba(185, 176, 176, 0.74);
  color: #fff;
  opacity: 1;
}

/* Button for main style strart  */


@media screen and (max-width: 1220px) {
  .header__black {
    width: 1000px;
  }

  .wrapper__grey {
    width: 1000px;
  }

  #song {
    width: 750px;
    transition: 0s all ease-in-out;
  }

  .footer__wrapper {
    width: 1000px;
    margin: 0 auto;
  }



  @media screen and (max-width: 1020px) {
    .header__black {
      width: 800px;
    }

    .wrapper__grey {
      width: 800px;
    }

    #song {
      width: 695px;
      left: 6%;
      transition: 0s all ease-in-out;
    }

    .footer__wrapper {
      width: 800px;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 890px) {
    .header__black {
      width: 600px;
    }

    .wrapper__grey {
      width: 600px;
    }

    .nodePlayList {
      font-size: 20px;
    }

    .footer__wrapper {
      width: 600px;
      margin: 0 auto;
    }

    .footer__title-same {
      font-size: 20px;
      font-weight: 80;
    }

    .keys {
      width: 98%;
    }

    #key87 {
      left: 41px;
    }

    #key69 {
      left: 101px;
    }

    #key84 {
      left: 216px;
    }

    #key89 {
      left: 276px;
    }

    #key85 {
      left: 336px;
    }

    #key79 {
      left: 452px;
    }

    .footer__card2 {
      margin-left: -237px;
    }

    .nodePlayList {
      transform: translateY(25px);
    }

    #changeSong {
      transform: translateY(18px);
    }

    .P_background {
      font-size: 15px;
    }

    .itemsMain {
      transform: translateY(60px);
    }

    .volume_show {
      font-size: 15px;
      text-align: right;
      transform: translateY(14px);
    }

    .bgchoice {
      position: absolute;
      transform: translate(20px, 28px);
    }

    .volume {
      display: block;
    }

    #volume {
      transform: translateY(18px);
    }

    #song {
      width: 565px;
      left: 3%;
      font-size: 16px;
      transform: translateY(-15px);
      transition: 0s all ease-in-out;
    }

    #key80 {
      left: 512px;
    }
  }
}
